@model Web.ViewModels.DrugViewModel
@{
    ViewBag.Title = Model.Tradename;
}
<h2>Drug: @Model.Tradename</h2>
<div class="row">
    <div class="col-md-4">
        <img src="@Model.Path" class="card-img " style="max-height: 400px; max-width: 400px;" />
    </div>

    <div class="col-md-8">

        <dl class="dl-horizontal">
            <dt>Tradename</dt>
            <dd>@Model.Tradename</dd>

            <dt>Company</dt>
            <dd>@Model.Company.Name</dd>

            <dt>Description</dt>
            <dd>@Model.Description</dd>

        </dl>
    </div>

</div>
