@model Web.ViewModels.DrugViewModel
@{
    ViewBag.Title = Model.Tradename;
}
<h2>Drug: @Model.Tradename</h2>
<div>

    <img src="@Model.UmageUrl" class="card-img " />



    <dl class="dl-horizontal">
        <dt>Tradename</dt>
        <dd>@Model.Tradename</dd>

        <dt>Company</dt>
        <dd>@Model.Company.Name</dd>

    </dl>


    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>@Model.Description</dd>



    </dl>


</div>